.container {
    margin: auto;
    max-width: 650px;
    font-family: sans-serif;
}

.link-text {
    color: #24292f;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.site-header {
    background: #24292f;
    margin: 3rem 0;
    padding: 1rem 0 0.1rem 1rem;
}

.site-header .link-text {
    color: white;
}

.site-title {
    font-size: 3rem;
    font-weight: 700;
}

.page-heading {
    color: #24292f;
}
